html {
	overflow-y: scroll;
}

body {
	font-size: .85em;
	font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
	color: #232323;
	background-color: #fff;
}

a {
	text-decoration: none;
}

header, footer, nav, section  {
	display: block;
}

.toolbar {
    color: #ffffff;
	background: #14e13d;
	height: 60px;
	padding: 10px;
	border-radius:25px;
}

.toolbar a {
	color: #ffffff;
}

.menu {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
    position:relative;
    left:-10%;
    text-align:left;
}

.menu ul {
	list-style-type:none;
	margin:0;
	padding:0;
    position:relative;
    left:50%;
}

.menu li {
	display:inline;
    float:left;
    position:relative;
}

.menu a {
	padding: 5px 15px 5px 15px;
}

.menu a:hover {
	background-color: green;
	border-radius: 5px;
}

.clear { 
	clear: both;
}

.right-div {
	float: right;
}

.book-table {
    float: left;
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
	border: 1px solid #ddd;
	padding: 0 1.4em 1.4em 1.4em;
	margin: 0 0 1.5em 0;
}

legend {
	font-size: 1.2em;
	font-weight: bold;
}

textarea {
	min-height: 75px;
}

.editor-label {
	margin: 1em 0 0 0;
}

.editor-field {
	margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
	color: #f00;
}

.field-validation-valid {
	display: none;
}

.input-validation-error {
	border: 1px solid #f00;
	background-color: #fee;
}

.validation-summary-errors {
	font-weight: bold;
	color: #f00;
}

.validation-summary-valid {
	display: none;
}
